/**
 * FONTS TO USE
 */
@import url('https://fonts.googleapis.com/css?family=Poppins');
/**
 * Colors
 */
 $blue: #00cfe8;
 $indigo: #6610f2;
 $purple: #7367f0;
 $pink: #e83e8c;
 $red: #ea5455;
 $orange: #ff9f43;
 $yellow: #ffc107;
 $green: #28c76f;
 $teal: #20c997;
 $cyan: #17a2b8;
 $white: #fff;
 $gray: #b8c2cc;
 $gray-dark: #1e1e1e;
 $primary: #7367f0;
 $secondary: #82868b;
 $success: #28c76f;
 $info: #00cfe8;
 $warning: #ff9f43;
 $danger: #ea5455;
 $light: #f6f6f6;
 $dark: #4b4b4b;
 /**
 * Import Bootstrap
 */
 @import "node_modules/bootstrap/scss/bootstrap.scss";

/**
 * CSS layout
 */
 *,
 *:before,
 *:after {
   box-sizing: border-box;
   margin: 0;
 }
 
 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 
 html,
 body,
 #app,
 .app-container {
   padding: 0;
   margin: 0;
   width: 100%;
   min-width: 100%;
   height: 100%;
   min-height: 100vh;
 }
 
 body {
   font-family: "Poppins", sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.45;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   overflow-x: hidden;
   color: #8f8f8f;
 }
 
 .app-content {
   position: absolute;
   width: calc(100% - 310px);
   min-height: 100vh;
   top: 0;
   right: 0;
   transition: all 0.3s;
 }
 
 .app-content.active {
   width: calc(100% - 60px);
 }
 
 .app-content-main {
   height: calc(100vh - 60px);
   overflow: auto;
 }
 
 .app-aside {
   position: fixed;
   width: 60px;
   height: 100vh;
   z-index: 999;
   background: #d6d6d6;
 }
 
 .sidebar {
   position: fixed;
   width: 250px;
   height: 100vh;
   top: 0;
   left: 60px;
   z-index: 900;
   background: #7386d5;
   color: #fff;
   transition: all 0.3s;
 }
 
 .sidebar.active {
   margin-left: -250px;
 }
 
 @media (max-width: 768px) {
   .app-content {
     width: 100%;
   }
 
   .app-content.active {
     width: calc(100% - 250px);
   }
 
   .sidebar {
     margin-left: -250px;
   }
 
   .sidebar.active {
     margin-left: 0;
   }
 }
